<div>
  <br>
  <mat-card class="form">
    <section class="mat-typography">
      <h1>Love Notes For {{myAccount.name}}</h1>
    </section>
    <mat-divider></mat-divider>
    <br>
    <button mat-raised-button color="warn" (click)="toLovedOnes()">Loved Ones</button>
    <span>&nbsp;&nbsp;</span>
    <button mat-raised-button color="primary" routerLink="/login">Write Love Note</button>
    <span>&nbsp;&nbsp;</span>
    <button mat-raised-button color="primary" routerLink="/login">See Notes Written</button>
  </mat-card>
</div>
